# Переменные окружения для Railway
# Заполни своими данными и добавь в Variables на Railway

TG_API_ID=12345678
TG_API_HASH=abcdef1234567890abcdef1234567890
SPREADSHEET_ID=1xGT-a45MNm8LGJ1uws9N0e9gxhocL3vJjoSfJN6ezdU
GOOGLE_CREDS_FILE=credentials.json
